[user]
	name = Glauber Santana
	email = 6403699+glwbr@users.noreply.github.com
[init]
	defaultBranch = main
[alias]
  s = status
  a = add
  aa = add --all
  r = restore
  rs = restore --staged

  c = commit
  cm = commit -m
  ca = commit --amend
  caa = commit --amend --no-edit
  wip = commit -m 'WIP'

  b = branch
  co = checkout
  cob = checkout -b
  sw = switch

  cl = clone
  p = push
  pf = push --force-with-lease
  pl = pull
  up = pull --rebase --autostash

  l = log
  last = log -1 HEAD
  graph = log --all --decorate --graph --pretty=format:'%C(auto)%h%d %s %C(green)(%cr)%C(reset) %C(bold blue)<%an>%C(reset)' --date=short
  sh = show
  d = diff
  ds = diff --staged

  st = stash
  rb = rebase
  nuke = reset --hard HEAD
  rbi = rebase --interactive

[core]
	excludesfile = /home/glwbr/.gitignore_global
[push]
	autoSetupRemote = true
