[user]
	name = glwbr
	email = glauber.silva14@gmail.com
[alias]
    a = "add"
    b = "branch"
    c = "commit"
    d = "diff"
    l = "log"
    p = "push"
    r = "restore"
    s = "status"
    ca = "commit --amend"
    cm = "commit -m"
    co = "checkout"
    ds = "diff --staged"
    pf = "push --force-with-lease"
    pl = "pull"
    rb = "rebase"
    rs = "restore --staged"
    cob = "checkout -b"
    rbi = "rebase -i"
    forgor = "commit --amend --no-edit"
    graph = "log --all --decorate --graph --oneline"
    last = "log -1 HEAD"
    oops = "checkout --"
